*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}

body{
background:#f4f6f9;
color:#333;
}

/* HEADER */

header{
display:flex;
justify-content:space-between;
padding:18px 60px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

header nav a{
margin-left:25px;
text-decoration:none;
color:#333;
font-weight:500;
}

header nav a:hover{
color:#c0392b;
}

/* HERO */

.hero{
height:85vh;
display:flex;
align-items:center;
padding:0 80px;
background:linear-gradient(rgba(192,57,43,0.85),rgba(192,57,43,0.85)),
url("blood.jpg") center/cover;
color:white;
}

.hero-text{
max-width:600px;
}

.hero h1{
font-size:48px;
margin-bottom:15px;
}

.hero p{
font-size:18px;
margin-bottom:25px;
}

.btn{
background:white;
color:#c0392b;
padding:12px 28px;
text-decoration:none;
margin-right:15px;
border-radius:5px;
}

.btn-outline{
border:2px solid white;
padding:10px 28px;
color:white;
text-decoration:none;
border-radius:5px;
}

/* MODULES */

.modules{
padding:70px 80px;
text-align:center;
}

.module-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
margin-top:40px;
}

.module-card{
background:white;
padding:30px;
margin:15px;
width:260px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
border-radius:8px;
}

.module-card a{
display:inline-block;
margin-top:15px;
color:#c0392b;
text-decoration:none;
font-weight:bold;
}

/* BLOOD GROUP */

.blood-groups{
background:white;
padding:60px;
text-align:center;
}

.blood-grid span{
display:inline-block;
margin:10px;
padding:15px 20px;
background:#c0392b;
color:white;
border-radius:5px;
}

/* EMERGENCY */

.emergency{
padding:70px;
text-align:center;
background:#c0392b;
color:white;
}

/* FOOTER */

footer{
text-align:center;
padding:20px;
background:#222;
color:white;
}
.form-container{
background:white;
width:350px;
margin:80px auto;
padding:35px;
border-radius:8px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
text-align:center;
}

.form-container input{
width:100%;
padding:12px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
}

.form-container button{
width:100%;
padding:12px;
background:#c0392b;
color:white;
border:none;
border-radius:5px;
}

.success{ color:green; }
.error{ color:red; }

.result-box{
background:white;
margin-top:15px;
padding:15px;
box-shadow:0 3px 10px rgba(0,0,0,0.08);
border-radius:5px;
}
